.icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  background-size: cover;
  margin: 0 50px;

  &.email {
    background-image: url(https://raw.githubusercontent.com/climbing-comps/climbing-comps.github.io/master/images/mail.png);
  }
  &.wall {
    background-image: url(https://raw.githubusercontent.com/climbing-comps/climbing-comps.github.io/master/images/walls.png);
  }
  &.back {
    background-image: url(https://raw.githubusercontent.com/climbing-comps/climbing-comps.github.io/master/images/back.png);
    margin: 0;
  }
  &:hover, &:active {
    opacity: 0.6;
  }
}